@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(245, 248, 252);
}

@font-face {
  font-family: "Yek-Light";
  src: local("Yekan"), url("./assets/fonts/woff2/YekanBakh-Light.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Yek-Regular";
  src: local("Yekan"), url("./assets/fonts/woff2/YekanBakh-Regular.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Yek-Bold";
  src: local("Yekan"), url("./assets/fonts/woff2/YekanBakh-Bold.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Yek-SemiBold";
  src: local("Yekan"), url("./assets/fonts/woff2/YekanBakh-SemiBold.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Yek-ExtraBlack";
  src: local("Yekan"), url("./assets/fonts/woff2/YekanBakh-ExtraBlack.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Yek-ExtraBold";
  src: local("Yekan"), url("./assets/fonts/woff2/YekanBakh-ExtraBold.woff2");
  font-display: swap;
}

.change-crypto {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(174, 187, 253, 1) 0%,
    rgba(48, 81, 248, 1) 100%
  );
}

.masterCart {
  background: url("https://kifpool.me/ui_v2/images/bg-8.svg"), #3051f8;
  background-repeat: no-repeat;
  background-size: 240px;
  background-position: right -85px center
}
